.allinsurance {
  background-image: url('./gredient.png');
  background-size: cover;

  .allinsurance__container {
    max-width: 1140px;
    margin: auto;
    padding: 280px 20px;
    .allinsurance_heading_wrapper{
      width: 100%;
      display: flex;
      justify-content: center;
    }
    h1 {
      color: white;
      text-align: center;
      font-size: 60px;
      line-height: 66px;
      max-width: 920px;
      padding: 0 20px;
      margin-bottom: 105px;
    }

    .allinsurance__info {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      .allinsurance__info_box {
        flex-shrink: 0;
        background: white;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom: 10px solid #071446;
        height: 267px;
        width: 257px;

        img {
          width: 55px;
          height: 55px;
          object-fit: contain;
        }

        p {
          margin-top: 21px;
          line-height: 33px;
          color: #071446;
          font-size: 22px;
          font-weight: 400;
          display: block;
        }
      }
    }

    button {
      background: transparent;
      border: none;
      outline: none;
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      margin-top: 1rem;

      svg {
        height: 25px;
        margin-left: 1rem;
      }
    }
  }

  @media only screen and (max-width: 1200px) {
    .allinsurance__container {
      padding: 180px 20px;

      h1 {
        font-size: 50px;
        margin-bottom: 80px !important;
        line-height: 52px;
      }
    }
  }

  @media only screen and (max-width: 760px) {
    .allinsurance__container {
      max-width: 100%;
      padding: 100px 20px;

      h1 {
        font-size: 42px;
        margin-bottom: 60px !important;
        line-height: 44px;
      }
    }
  }

  @media only screen and (max-width: 560px) {
    .allinsurance__container {
      padding: 70px 20px;

      h1 {
        padding: 0;
        width: 100%;
        font-size: 30px;
        margin-bottom: 50px !important;
        line-height: 32px;
      }

      .allinsurance__info {
        .allinsurance__info_box {
          width: 200px;
          height: 200px;

          img {
            width: 50px;
            height: 50px;
          }

          p {
            margin-top: 30px;
            line-height: 20px;
            color: #071446;
            font-size: 18px;
          }
        }
      }
    }
  }
}