// payment history
.paymenthistory {
    // margin-right: 10rem;
    // width: 42rem;
    margin-bottom: 2rem;
    .paymenthistory_header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 22px;
            font-weight: 600;

            a {
                color: #89fde7;
            }
        }
        @media only screen and(max-width: 665px) {
            p {
                font-size: 1.2rem;
            }
            span {
                font-size: 1rem;
            }
        }
    }
    .paymenthistory__card {
        margin-top: 3.5rem;
        background: white;
        border-radius: 20px;
        box-shadow: 0 0 20px 0 #e8f4ffb0;
        padding: 2rem;
        .paymenthistory__transaction {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #e5ecf2;
            padding-bottom: 0.5rem;
            margin-bottom: 1.5rem;

            div {
                &:last-child {
                    h3 {
                        margin: 0;
                        text-align: right;
                    }
                }
            }
            b {
                font-size: 1.1rem;
                font-weight: 400;
                margin-bottom: 0.5rem;
                display: block;
            }
            p {
                color: #282828;
                font-weight: 300;
            }
        }
    }
    .nohistoryfound {
        text-align: center !important;
        margin: 5rem 0 !important;
    }
}

.shortingFilter {
    margin-bottom: 3rem;
}
